%% -*- mode: Erlang; -*-

{sys,
 [
  {lib_dirs, ["../deps", "../apps"]},    % <--- Добавили пути до зависимостей и приложения
  {rel, "gptnode", "1",
   [
    kernel,
    stdlib,
    sasl,
    gproc,     % <--- Приложение gproc
    gpt        % <--- Наше приложение
   ]},
  {rel, "start_clean", "",
   [
    kernel,
    stdlib
   ]},
  {boot_rel, "gptnode"},
  {profile, embedded},
  {excl_sys_filters, ["^bin/.*",
                      "^erts.*/bin/(dialyzer|typer)"]},
  {app, sasl, [{incl_cond, include}]},
  {app, wx, [{incl_cond, exclude}]}
 ]}.

{target_dir, "gptnode"}.

{overlay_vars, "vars.config"}.

{overlay,
 [
  {mkdir, "log/sasl"},
  {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
  {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
  {copy, "files/gptnode", "bin/gptnode"},

  {template, "files/app.config", "etc/app.config"},
  {template, "files/vm.args", "etc/vm.args"}
 ]}.
