%% -*- mode: Erlang; -*-

%%
%% etc/app.config
%%
{gproc_params,
"[
  {gproc_dist, {['gpt1@localhost'],
                [{workers, ['gpt2@localhost']}]}}
 ]"}.

{kernel_params,
"[
  {sync_nodes_mandatory, ['gpt1@localhost']},
  {sync_nodes_timeout, 15000}
 ]"}.

%%
%% etc/vm.args
%%
{node,         "gpt2@localhost"}.
